.copyright {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.copyright__text {
  margin-right: 15px;
}

.copyright__logo {
  display: block;

  &:hover,
  &:focus {
    fill: @basic-color;
  }

  &:active {
    opacity: 0.3;
  }
}
