.feedback-form {
  border-top: 1px solid @dark-gray;

  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 60px;
    border-top: none;
  }
}

.feedback-form__item {
  border: none;
  border-bottom: 1px solid @dark-gray;
  margin: 0;
  padding: 20px 20px 25px;

  &--no-border {
    border-bottom: none;
  }

  &--experience {
    @media (min-width: @tablet-width) {
      order: -1;
    }
  }

  &--contacts,
  &--attendance,
  &--message {
    @media (min-width: @tablet-width) {
      grid-column-start: 1;
      grid-column-end: -1;
    }
  }

  @media (min-width: @tablet-width) {
    padding: 0;
    border-bottom: none;
  }
}

.feedback-form__subtitle {
  .section-title-style();
  text-align: center;
  margin: 0 0 20px;
}

.feedback-form__item-contacts-wrapper {
  @media (min-width: @desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: start;
  }
}

.feedback-form__button-wrapper {
  @media (min-width: @tablet-width) {
  grid-column-start: 1;
  grid-column-end: -1;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  }
}

.feedback-form__note {
  display: none;

  @media (min-width: @tablet-width) {
    display: block;
    margin: 0;
    justify-self: right;
  }
}
