.feedback-form {
  border-top: 1px solid @dark-gray;
  padding-bottom: 38px;

  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 68px 60px 61px;
    border-top: none;
  }

  @media (min-width: @desktop-width) {
    padding: 41px 120px 66px;
  }
}

//Fieldsets

.feedback-form__item {
  border: none;
  border-bottom: 1px solid @dark-gray;
  margin: 0;
  padding: 20px 20px 25px;

  @media (min-width: @tablet-width) {
    padding: 0;
    border-bottom: none;
  }

  &--no-border {
    border-bottom: none;
  }

  &--experience {
    @media (min-width: @tablet-width) {
      order: -1;
    }
  }

  &--contacts,
  &--attendance,
  &--message {
    @media (min-width: @tablet-width) {
      grid-column-start: 1;
      grid-column-end: -1;

      .feedback-form__subtitle {
        position: relative;
      }

      .feedback-form__subtitle::before,
      .feedback-form__subtitle::after {
        content: "";
        display: block;
        width: 19%;
        height: 1px;
        background-color: @extra-dark-gray;
        position: absolute;
        top: 0;
        bottom: 0;
        margin: auto 0;
      }

      .feedback-form__subtitle::before {
        left: 0;
      }

      .feedback-form__subtitle::after {
        right: 0;
      }
    }

    @media (min-width: @desktop-width) {
      .feedback-form__subtitle::before,
      .feedback-form__subtitle::after {
        width: 29%;
      }
    }
  }

  &--message {
    margin-bottom: 51px;
  }
}

@media (min-width: @tablet-width) {
  .feedback-form__item--name {
    padding-left: 59px;
    border-left: 1px solid @extra-dark-gray;
    margin-bottom: 73px;
  }

  .feedback-form__item--experience {
    margin-bottom: 73px;
  }

  .feedback-form__item--contacts {
    margin-bottom: 27px;
  }

  .feedback-form__item--attendance {
    margin-bottom: 40px;
  }

  .feedback-form__item--message {
    margin-bottom: 58px;
  }
}

@media (min-width: @desktop-width) {
  .feedback-form__item--name {
    padding-left: 80px;
    margin-bottom: 71px;
  }
}

//Subtitles

.feedback-form__subtitle {
  .section-title-style();
  text-align: center;
  margin: 0 0 20px;

  @media (min-width: @tablet-width) {
    font-size: @text-size * 1.5;
  }
}

.feedback-form__item--name .feedback-form__subtitle,
.feedback-form__item--experience .feedback-form__subtitle {
  @media (min-width: @tablet-width) {
    text-align: left;
    margin-bottom: 54px;
  }
}

.feedback-form__item--experience .feedback-form__subtitle {
  @media (min-width: @desktop-width) {
    padding-left: 78px;
  }
}

.feedback-form__item--contacts .feedback-form__subtitle {
  @media (min-width: @tablet-width) {
    margin-bottom: 21px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 72px;
  }
}

.feedback-form__item--attendance .feedback-form__subtitle {
  @media (min-width: @tablet-width) {
    margin-bottom: 48px;
  }
}

.feedback-form__item--message .feedback-form__subtitle {
  @media (min-width: @tablet-width) {
    margin-bottom: 55px;
  }
}

//Contacts fieldset

.feedback-form__item-contacts-wrapper {
  @media (min-width: @desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: start;
  }
}

//Button and note

.feedback-form__button-wrapper {
  @media (max-width: @mobile-width-only) {
    padding: 0 20px 0;
  }
}

.feedback-form__submit {
  width: 100%;
}

.feedback-form__note {
  display: none;

  @media (min-width: @tablet-width) {
    display: block;
    margin: 0;
    justify-self: right;
    align-self: center;
    padding: 15px 0 15px 40px;
  }
}
