.form-field {
  &:not(:last-child) {
    padding-bottom: 20px;
  }
}

.form-field__input {
  border: none;
  background-color: @light-gray;
  padding: 20px;
  font-size: @text-size * 1.3;
  font-weight: bold;

  &::placeholder {
    color: @basic-text-color;
  }
}

.form-field__label {
  color: @text-color-dimmed;
}
