.inner-main {
  background: @basic-gray url(../../img/inner-bg@mobile.png) top center no-repeat;
  text-align: center;
}

.inner-main__title {
  .section-title-style();
  margin-bottom: 40px;
}

.inner-main__intro {
  .section-intro-style();
  margin-top: 0;
  margin-bottom: 40px;
}
