.page-main__header {
  background: @basic-color url("../../img/bg-inner-main@mobile.jpg") top center no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;

  &--index {
    background: @basic-gray url("../../img/bg-main-index@mobile.jpg") top center no-repeat;
  }
}

.page-main__naming {
  padding-top: 50px;
  margin-bottom: 70px;

  &--index {
    padding-top: 0;
    margin-bottom: 37px;
  }
}

.page-main__greeting {
  padding-top: 90px;
  margin-bottom: 31px;
}

.page-main__slogan {
  margin-bottom: 90px;
}
