.page-footer__wrapper {
  padding: 39px 20px 23px;
  display: flex;
  flex-direction: column;

  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    align-items: start;
    padding: 32px 0 0;
  }
}

.page-footer__item {
  padding: 0 20px;
  margin: 0 auto;
  text-align: center;

  @media (min-width: @tablet-width) {
    grid-column: span 1;
    width: 100%;
  }

  &--hashtag {
    font-size: @text-size * 1.5;
    font-weight: bold;
    margin: 0;
    margin-bottom: 27px;

    @media (min-width: @tablet-width) {
      margin-top: 15px;
    }
  }

  &--social {
    margin-bottom: 40px;
  }
}
