.photo__image {
  text-align: center;
}

.photo__title {
  font-size: @text-size;
  font-weight: bold;
  margin-top: 18px;
  margin-bottom: 12px;
}

.photo__author {
  text-transform: none;
  color: @text-color-dimmed;
  margin-top: 0;
  margin-bottom: 15px;
}

.photo__likes {
  font-weight: bold;
  margin: 0;
}
