.social {
}

.social__list {
  list-style: none;
}

.social__link--twitter {
  &::before {
    content: url(../img/twitter-icon.svg);
  }
}

.social__link--facebook {
  &::before {
    content: url(../img/facebook_icon.svg);
  }
}

.social__link--youtube {
  &::before {
    content: url(../img/youtube_icon.svg);
  }
}
