.social__list {
  list-style: none;
  padding: 0;
  margin: 0 auto;
  display: flex;
  width: 151px;
  align-items: center;
  justify-content: space-between;
}

.social__link--twitter {
  &::before {
    content: url(../img/twitter-icon.svg);
  }
}

.social__link--facebook {
  &::before {
    content: url(../img/facebook_icon.svg);
  }
}

.social__link--youtube {
  &::before {
    content: url(../img/youtube_icon.svg);
  }
}
