.video-gallery {
  border-top: 1px solid @dark-gray;
  padding-top: 40px;
  padding-bottom: 50px;
  text-align: center;
}

.video-gallery__item {
  margin: 0 auto 50px;
  display: flex;
  flex-direction: column;
}

.video-gallery__preview {
  align-self: center;
}
